body {
  font-family: Arial, sans-serif;
  /* Shorthand */
  background: #fff;

  /* RGB */
  /* background-color: rgb(0, 100, 0); */
}

.card {
  /* RGBA */
  background-color: rgba(0, 0, 0, 0.5);

  /* HSL */
  background-color: hsl(0, 100%, 50%);

  /* HSLA */
  background-color: hsla(0, 100%, 50%, 0.2);
}
/* Color names */
.sporty {
  color: rebeccapurple;
}

/* Hex value */
.casual {
  color: #e04553;
}

.card-2 {
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}
