* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 0 20px;
}

p {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 5px;
}

/* Pseudo Elements */
p::first-letter {
  font-weight: bold;
  font-size: 2rem;
  padding-right: 2px;
  color: rebeccapurple;
}

p::first-line {
  color: purple;
  font-weight: 100;
}

p::selection {
  color: red;
  background-color: yellow;
}

input:required {
  border-color: red;
}

input[required] {
  background-color: rebeccapurple;
}

input::placeholder {
  color: green;
  font-weight: bold;
}

input::file-selector-button {
  padding: 1rem;
  font-weight: bold;
  color: dodgerblue;
  background-color: #fff;
  border: thin solid gray;
  border-radius: 5px;
}

li::marker {
  content: "☞";
}
